* {
	border: 1px;
}

* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.row {
	width: 100%;
	margin-bottom: 20px;
	display: flex;
}

.col-3 {
	width: 25%;
}

.col-9 {
	width: 75%;
}

.col-12 {
	width: 100%;
}